{% extends 'base.html.twig' %}

{% block title %}Modifier la photo de profile{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="mt-4">{{ controller_name }} ✅</h1>

        <div class="content mt-5">
            {{ form_start(form) }}
            {{ form_row(form.avatar, {'label': 'Photo de profile'}) }}

            <button type="submit" class="btn btn-success">Modifier</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}